<!DOCTYPE html>
<html>
  <head>
    <title>Cblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='flex'>
    <header></header>
    <div class="flex-body">
      <main class="flex-content">
        <%= yield %>
      </main>
      <nav class="flex-nav">
      </nav>
      <% if content_for?(:aside) %>
        <aside class="flex-aside">
          <%= yield(:aside) %>
        </aside>
      <% end %>
    </div>
    <footer></footer>
  </body>
</html>
